html {
    font-family: Helvetica;
    font-size: 22px; 
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: visible;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  text-align: center;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: black;
}

header .content {
  display: flex;
  align-items: center;
  height: 69px;
  padding: 10px;
}

header .logo {
  flex: 1;
}

header a img {
    height: 60px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: seashell;
}

div .banner {
    background-image: url("./images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 38.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
}

div .mission {
    text-align: center;
    background-color: black;
    width: 1783px;
    margin: 0;
    font-weight: bold;
}

div .mission h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}

div .mission h4 {
  margin: 0;
  padding-bottom: 10px;
}

div .tea-month {
  padding-top: 4.5rem;
  padding-bottom: 1.45rem;
}

div .tea-month h2 {
  font-size: 1.75rem;
  padding-bottom: 1.45rem;
}

div .image-gallery {
    display: flex;
    justify-content: center;
    padding-bottom: 5.5rem;
}

div .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

div .images img {
    height: 200px;
    width: 300px;
    padding: 15px;
}

div .location-section {
  background-image: url("./images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}


div .location-section h2 {
  font-weight: bold;
}

div .location-section h3 {
  font-weight: bold;
}

div .locations {
  font-size: 1.75rem;
  padding-bottom: 1.45rem;
}

div .downtown {
  background-color: black;
}

div .east-bayside {
  background-color: black;
}

div .oakdale {
  background-color: black;
}